extends layout

block content
  div#textBox
    ul#boxList
  input#textInput(
    onkeypress = 'if(event.keyCode==13){chatMessage(); return false;}'
  )
  button#inputButton(
    onclick = 'chatMessage()'
  ) 작성
